/* General */
body {
    background-color: #000000; /* Color de fondo suave */
    color: #ffffff; /* Texto oscuro para mejor legibilidad */
    font-family: "Georgia", serif; /* Fuente clásica tipo serif */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #d31b1b; /* Color marrón para títulos */
    margin-bottom: 10px;
}

/* Estilo para el encabezado */
header {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #6c7ca0;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header .subtitle {
    font-style: italic;
    color: #777;
}

/* Estilo para las publicaciones */
article {
    background-color: rgb(48, 48, 48); /* Fondo blanco para cada entrada */
    border: 1px solid #858585; /* Borde suave */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

article h2 {
    font-size: 30px;
    color: #ffffff; /* Color para el título de la entrada */
}

article .date {
    font-size: 0.9em;
    color: #cfcfcf;
    margin-bottom: 10px;
}

article p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Enlaces */
a {
    color: #0066ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    text-align: center;
    font-size: 0.85em;
    color: rgb(49, 49, 49)000;
    border-top: 1px solid #838383;
    padding-top: 10px;
    margin-top: 50px;
}
